<footer>
	<div class="offset">
		<!-- container -->
		<div class="container animated zoomIn">
			<div class="sixteen columns">
				<h6 class="copyright">此网站所有代码和文章都由 玲珑少年 维护，除了与个人资料相关的内容之外，您可以随意转发，请保留“玲珑少年”的署名。</h6>
				<h6 class="copyright">Copyright © 2018 auaa.github.io</h6>
			</div>
		</div>
		<!-- container -->
	</div>
</footer>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?382d2b691a4a55327695e8e81e352e93";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
