<!--promo-->
<div class="promo mt-lg-5 pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="promo-title">常见问题</div>
                <p>有任何问题，可以直接提问</p>
                <a class="btn btn-get-started btn-pill mt-3 mb-lg-5" href="https://github.com/auaa/auaa.github.io/issues" target="_blank">我要提问</a>
            </div>
        </div>
    </div>
</div>
<!--/promo-->

<!--footer-->
<footer class=" ">
    <div class="container">
        <div class="row text-center border-top pt-4 pb-3">
            <div class="col">
                <p>Copyright &copy; 2018-2019 auaa.github.io</p>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->

<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?382d2b691a4a55327695e8e81e352e93";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
