<!--footer-->
<footer class="footer">
    <div class="footer__copyright">
        <a href="{{site.url}}" target="_blank">{{site.title}}</a>
        <span>&copy; 2018 ~ 2019</span>
    </div>
</footer>
<!--/footer-->

<script type="text/javascript" src='{{"/assets/js/jquery.min.js" | relative_url}}' ></script>
<script type="text/javascript" src='{{"/assets/js/journal.js" | relative_url}}' ></script>

<!--<script src="https://d1qmdf3vop2l07.cloudfront.net/jovial-peafowl.cloudvent.net/compressed/_min_/c82e720ea7a844bb0c19371b3a0b5408.js"></script>-->

<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?382d2b691a4a55327695e8e81e352e93";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
