<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="shortcut icon" href="{{ "/assets/images/logo.png" | relative_url }}"/>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/index.css" | relative_url }}" media="all"/>

  <style media="screen">
  .icon {
     width: 1em;
     height: 1em;
     font-size: 40px;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
    }
  </style>

</head>
