@import 'ext/solarized-light';


.highlighter-rouge{
	margin-bottom: 10px;
}
.language-plaintext {
	word-break:break-all;
}
.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}

table {
	padding: 0;
	width: 100%;
	word-break: initial;
}
table tr {
	border-top: 1px solid #dfe2e5;
	margin: 0;
	padding: 0;
}
table tr:nth-child(2n),
thead {
	background-color: #f8f8f8;
}
table tr th {
	font-weight: bold;
	border: 1px solid #dfe2e5;
	border-bottom: 0;
	margin: 0;
	padding: 6px 13px;
}
table tr td {
	border: 1px solid #dfe2e5;
	margin: 0;
	padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
	margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
	margin-bottom: 0;
}