---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <ul class="post-categories">
      {%- for tag in page.tags -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
  </div>
  <div class="post">
    {{ content }}
  </div>
  <div class="posts-paginator">
      <div class="post-prev">
        {%- if page.next -%}
        <a href="{{ page.next | relative_url }}">< 上一篇</a>
        {%- endif -%}
      </div>
      
      <div class="post-next">
        {%- if page.previous -%}
        <a href="{{ page.previous | relative_url }}">下一篇 ></a>
        {%- endif -%}
      </div>
      
    </div>
</div>
